<h1>New Cat</h1>
<%= render 'form', cat: @cat %>

<form >
  <label for="birth_date">Birth Date </label>
  <input type="date" id="cat_birth_date">

  <label for="color"> Choose a color: </label>

  <select id="color_select">
    <option value = " " selected disabled > --Select a color-- </option>

    <%Cat::COLORS.each do |color|%>
        <option value=<%=color%>><%=color%></option>
    <%end%>


  <input type="text" id="cat_color">

  <label for="name"> Name </label>
  <input type="text" id="cat_name">


    <p>Please choose cat's sex:</p>
    <input type="radio" id="M">
    <label for="M"> M </label>

    <input type="radio" id="F">
    <label for="F"> F </label>

  <label for="description"> Description </label>
  <input type="textarea" id="cat_description">


  <input type="submit" value="Submit">
</form>
